name: Merge to main

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - name: init
      run: terraform init
    - name: plan
      run: terraform plan
    - name: apply
      run: terraform apply -auto-approve

